.container {
    height: 300px;
    width: 600px;
    background-color: yellow;
    /* display: inline-grid; */
    display: grid;

    /* grid-template-rows: 50px 50px 50px 50px 50px; */
    /* grid-template-columns: 100px 100px 100px 100px ; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);     

    /* row-gap: 10px;
    column-gap: 20px; */
    /* grid-gap: 10px; */
    grid-gap: 10px 20px;   /*ShortHand*/
    
    /* justify-items: center;
    align-items: center; */
    place-items: center;
}

.items {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

.one {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1 / 4; */
    /* grid-column: 1 / span 2; */
    justify-self: start;
}

.two {
    /* grid-row-start: 1;
    grid-row-end: 4; */
    /* grid-row: 1/4; */
    /* grid-row: 1 / span 4; */
}