.container {
    height: 600px;
    width: 800px;
    display: grid;
    margin: 10px auto;
    background-color: white;

    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

    grid-gap: 10px;

}


.container div {
    background-color: pink;
    font-size: 1.5rem;
}


.header {
    grid-column: 1 / 13;
}


.sidebar {
    grid-row: 2 / 12;
    grid-column: 1 / 4;
}


.navigation {
    grid-row: 2;
    grid-column: 4 / 10;
}

.ads {
    grid-row: 2 / 12;
    grid-column: 10 / 13;
}

.main {
    grid-row: 3 / 12;
    grid-column: 4 / 10;
}

.footer {
    grid-column: 1 / 13;

}


@media (max-width: 720px) {
    .header {
        grid-column: 1 / 13;
    }

    .navigation {
        grid-row: 2;
        grid-column: 1 / 13;

    }

    .sidebar {
        grid-row: 3 / 13;
        grid-column: 1 / 3;
    }

    .main {
        grid-row: 3 / 13;
        grid-column: 3 / 13;
    }

    .ads {
        grid-row: 13;
        grid-column: 1 / 3;
    }

    .footer {
        grid-row: 13;
        grid-column: 3 / 13;
    }
}