#container {
    height: 600px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;  /*row default*/
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    /* /* align-content: center; */
    align-content: flex-start; 
}

#org {
    align-self: flex-start;
    /* align-self: flex-end; */
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: 2 2 100px;
}


#blue {
    /* flex-basis: 400px; */
    /* flex-grow: 3; */
    /* min-width: 400px;  minimum width */
    flex-shrink: 1;
}

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}