body {
    font-family: Georgia;
}

a {
    text-decoration: none;
    color: rgb(16, 223, 16);
}

button {
    background-color: white;
    color: blueviolet;
    
}

span {
    text-decoration: underline;
}

textarea {
    color: #000;
}

p {
    color: red;
    text-align: center;
    line-height: 30px;

}

h1 {
    text-align: center;
    color: red;
}


h3 {
    text-align: center;
    color: black;
}


h4 {
    text-align: center;
}