h1 {
    color: #ffa511;
    font-family: league spartan;
    text-align: center;
    font-weight: 900;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: double teal underline;
    text-transform: uppercase;
}