h1 {
    text-align: center;
    text-decoration: wavy red underline;
    letter-spacing: 15px;
    font-family: avant garde, didot, sans-serif;
}

p {
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 15px;
}

h3 {
    text-align: start;
    text-decoration: pink line-through;
}

h2 {
    font-weight: 800;
    text-decoration: double blue overline;
    font-family: Impact;
}

a {
    text-decoration: none;
}