div {
    height: 200px;
    width: 500px;
    background-color: aqua;

    /* border-width: 5px;
    border-style: solid;
    border-color: blue; */
    border: 5px solid yellow;
    /* border-left-color: blue;
    border-left-style: dashed; */
    /* border-top: 5px dashed blue; */
    border-radius: 15px;
    padding-top: 10px;
    
    /* margin: 10px 20px 30px; */
    margin: 10px 20px 30px 40px;
}

h1 {
    /* border-width: 2px;
    border-style: dashed;
    border-color: red; */
    border: 2px dashed red;
    /* border-radius: 50%; */

    margin: 0;  /* unset default margin */
}

button {
    border: 2px solid black;
    /* padding-left: 25px;
    padding-right: 25px; */
    padding: 0 30px 0 30px;
    background-color: yellow;
    border-radius: 10px;
}